nodered/flows.json
[
    {
        "id": "29d64664bf8cbde8",
        "type": "tab",
        "label": "garagem",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ce258dec9814b96b",
        "type": "tab",
        "label": "iluminacao_externa",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2fd40fd570e6f37a",
        "type": "tab",
        "label": "iluminacao_seguranca",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4126427d5e161a03",
        "type": "server",
        "name": "Home Assistant",
        "version": 6,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": [
            "y",
            "yes",
            "true",
            "on",
            "home",
            "open"
        ],
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": 30,
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": ": ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "default",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": false
    },
    {
        "id": "721c47f31046b8bc",
        "type": "mqtt-broker",
        "name": "Zigbee2MQTT",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "45296e246a57590d",
        "type": "mqtt in",
        "z": "29d64664bf8cbde8",
        "name": "botao_portao_garagem JSON",
        "topic": "zigbee2mqtt/botao_portao_garagem",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "721c47f31046b8bc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 120,
        "wires": [
            [
                "gar_portao_normalizar_click"
            ]
        ]
    },
    {
        "id": "10d528954a2d5cae",
        "type": "api-call-service",
        "z": "29d64664bf8cbde8",
        "name": "acionar_portao_garagem",
        "server": "4126427d5e161a03",
        "version": 7,
        "debugenabled": false,
        "action": "script.portao_garagem_acionar",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "script.portao_garagem_acionar"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "script",
        "service": "portao_garagem_acionar",
        "x": 950,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "gar_portao_error_catch",
        "type": "catch",
        "z": "29d64664bf8cbde8",
        "name": "erro ao acionar portao",
        "scope": [
            "10d528954a2d5cae"
        ],
        "uncaught": false,
        "x": 400,
        "y": 240,
        "wires": [
            [
                "gar_portao_retry_decision"
            ]
        ]
    },
    {
        "id": "gar_portao_retry_decision",
        "type": "function",
        "z": "29d64664bf8cbde8",
        "name": "tentar novamente ate 2x",
        "func": "const maxRetries = 2;\nmsg.portao_retry_count = Number(msg.portao_retry_count || 0) + 1;\nconst errorMessage = msg.error?.message || msg.error?.source?.name || 'erro desconhecido';\n\nif (msg.portao_retry_count <= maxRetries) {\n    node.warn(`Erro ao acionar portao; tentativa extra ${msg.portao_retry_count}/${maxRetries}: ${errorMessage}`);\n    return [msg, null];\n}\n\nmsg.error_message = `Falha ao acionar o portao apos ${maxRetries + 1} tentativas. Ultimo erro: ${errorMessage}`;\nreturn [null, msg];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 240,
        "wires": [
            [
                "gar_portao_retry_delay"
            ],
            [
                "gar_portao_error_notify"
            ]
        ]
    },
    {
        "id": "gar_portao_retry_delay",
        "type": "delay",
        "z": "29d64664bf8cbde8",
        "name": "aguardar antes de tentar novamente",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 970,
        "y": 220,
        "wires": [
            [
                "10d528954a2d5cae"
            ]
        ]
    },
    {
        "id": "gar_portao_error_notify",
        "type": "api-call-service",
        "z": "29d64664bf8cbde8",
        "name": "notificar erro portao",
        "server": "4126427d5e161a03",
        "version": 7,
        "debugenabled": false,
        "action": "persistent_notification.create",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"title\":\"Erro ao acionar portao da garagem\",\"message\": error_message ? error_message : \"Falha desconhecida no fluxo garagem\"}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "persistent_notification",
        "service": "create",
        "x": 910,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "gar_portao_action_topic_in",
        "type": "mqtt in",
        "z": "29d64664bf8cbde8",
        "name": "botao_portao_garagem action",
        "topic": "zigbee2mqtt/botao_portao_garagem/action",
        "qos": "2",
        "datatype": "utf8",
        "broker": "721c47f31046b8bc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 180,
        "wires": [
            [
                "gar_portao_normalizar_click"
            ]
        ]
    },
    {
        "id": "gar_portao_normalizar_click",
        "type": "function",
        "z": "29d64664bf8cbde8",
        "name": "normalizar clique e evitar duplicado",
        "func": "const now = Date.now();\nconst dedupeMs = 900;\nlet action;\n\nif (typeof msg.payload === 'string') {\n    action = msg.payload;\n} else if (msg.payload && typeof msg.payload === 'object') {\n    action = msg.payload.action;\n}\n\nif (action !== 'single') {\n    return null;\n}\n\nconst lastAccepted = Number(flow.get('portao_garagem_last_click_ms') || 0);\nif (now - lastAccepted < dedupeMs) {\n    return null;\n}\n\nflow.set('portao_garagem_last_click_ms', now);\nmsg.payload = {\n    action,\n    source_topic: msg.topic,\n    received_at: new Date(now).toISOString(),\n};\nmsg.portao_retry_count = 0;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 120,
        "wires": [
            [
                "10d528954a2d5cae"
            ]
        ]
    },
    {
        "id": "70e147e6b7df9826",
        "type": "DuloNodeHub",
        "z": "ce258dec9814b96b",
        "name": "",
        "installation": "standalone",
        "x": 180,
        "y": 100,
        "wires": [
            [
                "2dd5071569184cb4"
            ]
        ]
    },
    {
        "id": "2dd5071569184cb4",
        "type": "DuloNodeDevice",
        "z": "ce258dec9814b96b",
        "name": "Iluminação Externa",
        "deviceType": "light",
        "x": 370,
        "y": 100,
        "wires": [
            [
                "1002cd64ca2b5824"
            ]
        ]
    },
    {
        "id": "1002cd64ca2b5824",
        "type": "switch",
        "z": "ce258dec9814b96b",
        "name": "Comando manual ON/OFF",
        "property": "payload.components.PowerController.powerState",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 600,
        "y": 100,
        "wires": [
            [
                "d940e2132bca7ecc"
            ],
            [
                "c7fe1a52ffe5091d"
            ]
        ]
    },
    {
        "id": "24743bc9f254d1c1",
        "type": "server-state-changed",
        "z": "ce258dec9814b96b",
        "name": "Pôr do sol",
        "server": "4126427d5e161a03",
        "version": 6,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "sun.sun"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "below_horizon",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [],
        "x": 660,
        "y": 220,
        "wires": [
            [
                "943c87e6b17f0d68"
            ],
            []
        ]
    },
    {
        "id": "d940e2132bca7ecc",
        "type": "change",
        "z": "ce258dec9814b96b",
        "name": "Definir ON manual",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"state\":\"ON\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "source",
                "pt": "msg",
                "to": "manual",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "notify_text",
                "pt": "msg",
                "to": "A iluminação externa foi ligada",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "expected_state",
                "pt": "msg",
                "to": "on",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "notify_success",
                "pt": "msg",
                "to": "A iluminação externa foi ligada",
                "tot": "str"
            }
        ],
        "x": 840,
        "y": 80,
        "wires": [
            [
                "88e6fc3e56fa347c",
                "ext_wait_confirm"
            ]
        ]
    },
    {
        "id": "c7fe1a52ffe5091d",
        "type": "change",
        "z": "ce258dec9814b96b",
        "name": "Definir OFF manual",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"state\":\"OFF\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "source",
                "pt": "msg",
                "to": "manual",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "notify_text",
                "pt": "msg",
                "to": "A iluminação externa foi desligada",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "expected_state",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "notify_success",
                "pt": "msg",
                "to": "A iluminação externa foi desligada",
                "tot": "str"
            }
        ],
        "x": 840,
        "y": 120,
        "wires": [
            [
                "88e6fc3e56fa347c",
                "ext_wait_confirm"
            ]
        ]
    },
    {
        "id": "943c87e6b17f0d68",
        "type": "change",
        "z": "ce258dec9814b96b",
        "name": "Definir ON pôr do sol",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"state\":\"ON\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "source",
                "pt": "msg",
                "to": "sunset",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "notify_text",
                "pt": "msg",
                "to": "Pôr do sol. A iluminação externa foi ligada",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "expected_state",
                "pt": "msg",
                "to": "on",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "notify_success",
                "pt": "msg",
                "to": "Pôr do sol. A iluminação externa foi ligada",
                "tot": "str"
            }
        ],
        "x": 860,
        "y": 220,
        "wires": [
            [
                "88e6fc3e56fa347c",
                "ext_wait_confirm"
            ]
        ]
    },
    {
        "id": "88e6fc3e56fa347c",
        "type": "function",
        "z": "ce258dec9814b96b",
        "name": "Distribuir para tópicos Zigbee2MQTT",
        "func": "const topics = [\n    'zigbee2mqtt/lampada_varanda/set',\n    'zigbee2mqtt/lampadas_garagem/set',\n    'zigbee2mqtt/refletores_jardim/set'\n];\n\nreturn topics.map(topic => ({\n    ...msg,\n    topic\n}));",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 100,
        "wires": [
            [
                "205cde805aa5e22c"
            ],
            [
                "c6d4a518b02043a0"
            ],
            [
                "864f90600b6a19ec"
            ]
        ]
    },
    {
        "id": "9d81b75a18d482f1",
        "type": "api-call-service",
        "z": "ce258dec9814b96b",
        "name": "Avisar Alexa",
        "server": "4126427d5e161a03",
        "version": 7,
        "debugenabled": false,
        "action": "notify.alexa_media_echo_dot_de_gabriel",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"message\": msg.notify_text}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "all",
        "blockInputOverrides": true,
        "domain": "notify",
        "service": "alexa_media_echo_dot_de_gabriel",
        "x": 2010,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "205cde805aa5e22c",
        "type": "mqtt out",
        "z": "ce258dec9814b96b",
        "name": "lampada_varanda",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "721c47f31046b8bc",
        "x": 1460,
        "y": 40,
        "wires": []
    },
    {
        "id": "c6d4a518b02043a0",
        "type": "mqtt out",
        "z": "ce258dec9814b96b",
        "name": "lampadas_garagem",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "721c47f31046b8bc",
        "x": 1470,
        "y": 100,
        "wires": []
    },
    {
        "id": "864f90600b6a19ec",
        "type": "mqtt out",
        "z": "ce258dec9814b96b",
        "name": "refletores_jardim",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "721c47f31046b8bc",
        "x": 1460,
        "y": 160,
        "wires": []
    },
    {
        "id": "ext_wait_confirm",
        "type": "delay",
        "z": "ce258dec9814b96b",
        "name": "Aguardar confirmação das luzes",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1230,
        "y": 260,
        "wires": [
            [
                "ext_check_states"
            ]
        ]
    },
    {
        "id": "ext_check_states",
        "type": "api-current-state",
        "z": "ce258dec9814b96b",
        "name": "Confirmar estados no Home Assistant",
        "server": "4126427d5e161a03",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "switch.lampada_varanda",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "{\"expected_state\": expected_state, \"notify_success\": notify_success, \"lampada_varanda\": $entities(\"switch.lampada_varanda\").state, \"lampadas_garagem\": $entities(\"switch.lampadas_garagem\").state, \"refletores_jardim\": $entities(\"switch.refletores_jardim\").state}",
                "valueType": "jsonata"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1530,
        "y": 260,
        "wires": [
            [
                "ext_build_alexa_message"
            ]
        ]
    },
    {
        "id": "ext_build_alexa_message",
        "type": "function",
        "z": "ce258dec9814b96b",
        "name": "Montar aviso confirmado",
        "func": "const expected = msg.expected_state || msg.payload?.expected_state;\nconst labels = {\n    lampada_varanda: 'varanda',\n    lampadas_garagem: 'garagem',\n    refletores_jardim: 'jardim'\n};\nconst states = {\n    lampada_varanda: msg.payload?.lampada_varanda,\n    lampadas_garagem: msg.payload?.lampadas_garagem,\n    refletores_jardim: msg.payload?.refletores_jardim\n};\nconst failed = Object.entries(states)\n    .filter(([, state]) => state !== expected)\n    .map(([entity, state]) => `${labels[entity]} ${state || 'desconhecido'}`);\n\nif (failed.length === 0) {\n    msg.notify_text = msg.notify_success || msg.notify_text;\n    return msg;\n}\n\nconst expectedText = expected === 'on' ? 'ligada' : 'desligada';\nmsg.notify_text = `Erro ao acionar a iluminação externa. Esperado: ${expectedText}. Estado atual: ${failed.join(', ')}.`;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1810,
        "y": 260,
        "wires": [
            [
                "9d81b75a18d482f1"
            ]
        ]
    },
    {
        "id": "sec_comment_arrival_light",
        "type": "comment",
        "z": "2fd40fd570e6f37a",
        "name": "Liga refletor_portao_carros somente quando a chegada acontece no escuro",
        "info": "Localizacao de Gabriel e Valeria aciona a luz quando alguem armado volta para ate 50 m de casa durante a noite e com o motor do Creta ligado. O por do sol, a localizacao e a trava do Creta apenas atualizam contexto; eles nao reaproveitam chegada antiga nem ligam a luz sozinhos. Gabriel e Valeria armam ao ficar a mais de 100 m de casa. Creta desligou/travou so desliga o refletor se o Creta estiver em casa.",
        "x": 590,
        "y": 60,
        "wires": []
    },
    {
        "id": "sec_gabriel_location_changed",
        "type": "server-state-changed",
        "z": "2fd40fd570e6f37a",
        "name": "Localizacao Gabriel",
        "server": "4126427d5e161a03",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "device_tracker.iphone_de_gabriel_furlan"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "(\n  {\n    \"event\": \"location_update\",\n    \"source\": \"gabriel\",\n    \"sun\": $entities(\"sun.sun\"),\n    \"gabriel\": $entities(\"device_tracker.iphone_de_gabriel_furlan\"),\n    \"valeria\": $entities(\"device_tracker.iphone_de_valeria\"),\n    \"creta\": $entities(\"device_tracker.creta_location\"),\n    \"creta_engine\": $entities(\"binary_sensor.creta_engine\"),\n    \"creta_lock\": $entities(\"lock.creta_door_lock\")\n  }\n)",
                "valueType": "jsonata"
            }
        ],
        "x": 180,
        "y": 120,
        "wires": [
            [
                "sec_arrival_decision"
            ]
        ]
    },
    {
        "id": "sec_valeria_location_changed",
        "type": "server-state-changed",
        "z": "2fd40fd570e6f37a",
        "name": "Localizacao Valeria",
        "server": "4126427d5e161a03",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "device_tracker.iphone_de_valeria"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "(\n  {\n    \"event\": \"location_update\",\n    \"source\": \"valeria\",\n    \"sun\": $entities(\"sun.sun\"),\n    \"gabriel\": $entities(\"device_tracker.iphone_de_gabriel_furlan\"),\n    \"valeria\": $entities(\"device_tracker.iphone_de_valeria\"),\n    \"creta\": $entities(\"device_tracker.creta_location\"),\n    \"creta_engine\": $entities(\"binary_sensor.creta_engine\"),\n    \"creta_lock\": $entities(\"lock.creta_door_lock\")\n  }\n)",
                "valueType": "jsonata"
            }
        ],
        "x": 180,
        "y": 180,
        "wires": [
            [
                "sec_arrival_decision"
            ]
        ]
    },
    {
        "id": "sec_creta_location_changed",
        "type": "server-state-changed",
        "z": "2fd40fd570e6f37a",
        "name": "Localizacao Creta",
        "server": "4126427d5e161a03",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "device_tracker.creta_location"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "(\n  {\n    \"event\": \"location_update\",\n    \"source\": \"creta\",\n    \"sun\": $entities(\"sun.sun\"),\n    \"gabriel\": $entities(\"device_tracker.iphone_de_gabriel_furlan\"),\n    \"valeria\": $entities(\"device_tracker.iphone_de_valeria\"),\n    \"creta\": $entities(\"device_tracker.creta_location\"),\n    \"creta_engine\": $entities(\"binary_sensor.creta_engine\"),\n    \"creta_lock\": $entities(\"lock.creta_door_lock\")\n  }\n)",
                "valueType": "jsonata"
            }
        ],
        "x": 180,
        "y": 240,
        "wires": [
            [
                "sec_arrival_decision"
            ]
        ]
    },
    {
        "id": "sec_sun_changed",
        "type": "server-state-changed",
        "z": "2fd40fd570e6f37a",
        "name": "Por do sol / amanhecer",
        "server": "4126427d5e161a03",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "sun.sun"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "(\n  {\n    \"event\": \"context_update\",\n    \"source\": \"sun\",\n    \"sun\": $entities(\"sun.sun\"),\n    \"gabriel\": $entities(\"device_tracker.iphone_de_gabriel_furlan\"),\n    \"valeria\": $entities(\"device_tracker.iphone_de_valeria\"),\n    \"creta\": $entities(\"device_tracker.creta_location\"),\n    \"creta_engine\": $entities(\"binary_sensor.creta_engine\"),\n    \"creta_lock\": $entities(\"lock.creta_door_lock\")\n  }\n)",
                "valueType": "jsonata"
            }
        ],
        "x": 190,
        "y": 320,
        "wires": [
            [
                "sec_arrival_decision"
            ]
        ]
    },
    {
        "id": "sec_creta_lock_context_changed",
        "type": "server-state-changed",
        "z": "2fd40fd570e6f37a",
        "name": "Trava porta Creta atualizou",
        "server": "4126427d5e161a03",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "lock.creta_door_lock"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "(\n  {\n    \"event\": \"context_update\",\n    \"source\": \"creta_lock\",\n    \"sun\": $entities(\"sun.sun\"),\n    \"gabriel\": $entities(\"device_tracker.iphone_de_gabriel_furlan\"),\n    \"valeria\": $entities(\"device_tracker.iphone_de_valeria\"),\n    \"creta\": $entities(\"device_tracker.creta_location\"),\n    \"creta_engine\": $entities(\"binary_sensor.creta_engine\"),\n    \"creta_lock\": $entities(\"lock.creta_door_lock\")\n  }\n)",
                "valueType": "jsonata"
            }
        ],
        "x": 210,
        "y": 380,
        "wires": [
            [
                "sec_arrival_decision"
            ]
        ]
    },
    {
        "id": "sec_engine_off_changed",
        "type": "server-state-changed",
        "z": "2fd40fd570e6f37a",
        "name": "Creta desligou (se em casa)",
        "server": "4126427d5e161a03",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "binary_sensor.creta_engine"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "off",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "5",
        "forType": "num",
        "forUnits": "seconds",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "(\n  {\n    \"event\": \"turn_off\",\n    \"reason\": \"creta_engine_off\",\n    \"sun\": $entities(\"sun.sun\"),\n    \"creta\": $entities(\"device_tracker.creta_location\"),\n    \"creta_engine\": $entities(\"binary_sensor.creta_engine\"),\n    \"creta_lock\": $entities(\"lock.creta_door_lock\")\n  }\n)",
                "valueType": "jsonata"
            }
        ],
        "x": 210,
        "y": 460,
        "wires": [
            [
                "sec_arrival_decision"
            ]
        ]
    },
    {
        "id": "sec_creta_locked_changed",
        "type": "server-state-changed",
        "z": "2fd40fd570e6f37a",
        "name": "Creta travou (se em casa)",
        "server": "4126427d5e161a03",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "lock.creta_door_lock"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "locked",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "5",
        "forType": "num",
        "forUnits": "seconds",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "(\n  {\n    \"event\": \"turn_off\",\n    \"reason\": \"creta_locked\",\n    \"sun\": $entities(\"sun.sun\"),\n    \"creta\": $entities(\"device_tracker.creta_location\"),\n    \"creta_engine\": $entities(\"binary_sensor.creta_engine\"),\n    \"creta_lock\": $entities(\"lock.creta_door_lock\")\n  }\n)",
                "valueType": "jsonata"
            }
        ],
        "x": 210,
        "y": 520,
        "wires": [
            [
                "sec_arrival_decision"
            ]
        ]
    },
    {
        "id": "sec_refresh_comment",
        "type": "comment",
        "z": "2fd40fd570e6f37a",
        "name": "Atualiza localizacoes e estado do Creta a cada 10 min",
        "info": "Forca update_entity nas entidades Kia/Hyundai e envia request_location_update para os iPhones pelo app do Home Assistant. O iOS e a API Kia ainda podem atrasar ou ignorar uma requisicao, mas o fluxo deixa de depender apenas de atualizacoes espontaneas.",
        "x": 640,
        "y": 580,
        "wires": []
    },
    {
        "id": "sec_refresh_every_10min",
        "type": "inject",
        "z": "2fd40fd570e6f37a",
        "name": "A cada 10 min",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": "30",
        "topic": "refresh_security_entities",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 680,
        "wires": [
            [
                "sec_refresh_creta_entities",
                "sec_request_gabriel_location",
                "sec_request_valeria_location"
            ]
        ]
    },
    {
        "id": "sec_refresh_creta_entities",
        "type": "api-call-service",
        "z": "2fd40fd570e6f37a",
        "name": "Atualizar Creta",
        "server": "4126427d5e161a03",
        "version": 7,
        "debugenabled": false,
        "action": "homeassistant.update_entity",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "device_tracker.creta_location",
            "binary_sensor.creta_engine",
            "lock.creta_door_lock"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "homeassistant",
        "service": "update_entity",
        "x": 430,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "sec_request_gabriel_location",
        "type": "api-call-service",
        "z": "2fd40fd570e6f37a",
        "name": "Atualizar iPhone Gabriel",
        "server": "4126427d5e161a03",
        "version": 7,
        "debugenabled": false,
        "action": "notify.iphone_de_gabriel_furlan",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"message\":\"request_location_update\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "notify",
        "service": "iphone_de_gabriel_furlan",
        "x": 460,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "sec_request_valeria_location",
        "type": "api-call-service",
        "z": "2fd40fd570e6f37a",
        "name": "Atualizar iPhone Valeria",
        "server": "4126427d5e161a03",
        "version": 7,
        "debugenabled": false,
        "action": "notify.iphone_de_valeria",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"message\":\"request_location_update\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "notify",
        "service": "iphone_de_valeria",
        "x": 450,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "sec_arrival_decision",
        "type": "function",
        "z": "2fd40fd570e6f37a",
        "name": "Decidir chegada no escuro",
        "func": "const HOME_LAT = -20.310367851039004;\nconst HOME_LON = -40.317321761139894;\nconst event = msg.payload?.event;\n\nconst ACTIVE_KEY = \"refletor_portao_carros_active_by_arrival\";\nconst ARMED_KEY = \"refletor_portao_carros_arrival_armed_entities\";\nconst ARM_DISTANCE_M = 100;\nconst ARRIVAL_DISTANCE_M = 50;\n\nfunction distanceMeters(lat1, lon1, lat2, lon2) {\n    const toRad = (value) => value * Math.PI / 180;\n    const dLat = toRad(lat2 - lat1);\n    const dLon = toRad(lon2 - lon1);\n    const a = Math.sin(dLat / 2) ** 2 +\n        Math.cos(toRad(lat1)) * Math.cos(toRad(lat2)) *\n        Math.sin(dLon / 2) ** 2;\n    return 6371000 * 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));\n}\n\nfunction position(entity) {\n    const attrs = entity?.attributes ?? {};\n    const lat = Number(attrs.latitude);\n    const lon = Number(attrs.longitude);\n    const gpsAccuracy = Number(attrs.gps_accuracy);\n    const valid = Number.isFinite(lat) && Number.isFinite(lon);\n\n    return {\n        entity_id: entity?.entity_id,\n        state: entity?.state,\n        latitude: valid ? lat : null,\n        longitude: valid ? lon : null,\n        gps_accuracy: Number.isFinite(gpsAccuracy) ? gpsAccuracy : null,\n        distance_m: valid ? Math.round(distanceMeters(HOME_LAT, HOME_LON, lat, lon)) : null,\n    };\n}\n\nfunction isAway(item) {\n    return item.state === \"not_home\" || (item.distance_m !== null && item.distance_m > ARM_DISTANCE_M);\n}\n\nfunction isHome(item) {\n    return item.state === \"home\" || (item.distance_m !== null && item.distance_m <= ARRIVAL_DISTANCE_M);\n}\n\nfunction updateAwayArming(armed, people) {\n    for (const [name, item] of Object.entries(people)) {\n        if (isAway(item)) {\n            armed[name] = true;\n        }\n    }\n}\n\nfunction clearCurrentHomeArming(armed, people) {\n    for (const [name, item] of Object.entries(people)) {\n        if (isHome(item)) {\n            armed[name] = false;\n        }\n    }\n}\n\nconst gabriel = position(msg.payload?.gabriel);\nconst valeria = position(msg.payload?.valeria);\nconst creta = position(msg.payload?.creta);\nconst trackedPeople = { gabriel, valeria };\nconst sunBelow = msg.payload?.sun?.state === \"below_horizon\";\nconst engineOn = msg.payload?.creta_engine?.state === \"on\";\nconst lockState = msg.payload?.creta_lock?.state;\nconst armedEntities = flow.get(ARMED_KEY) ?? {};\nconst active = flow.get(ACTIVE_KEY) === true;\n\nmsg.payload = {\n    event,\n    source: msg.payload?.source,\n    reason: msg.payload?.reason,\n    sun_below_horizon: sunBelow,\n    gabriel,\n    valeria,\n    creta,\n    creta_home: isHome(creta),\n    creta_engine_on: engineOn,\n    creta_lock: lockState,\n    arriving: [],\n};\n\nif (event === \"turn_off\") {\n    if (!msg.payload.creta_home) {\n        msg.payload.ignored = true;\n        msg.payload.reason = `${msg.payload.reason}_ignored_creta_not_home`;\n        return [null, null];\n    }\n\n    if (active) {\n        flow.set(ACTIVE_KEY, false);\n        flow.set(ARMED_KEY, {});\n        return [null, msg];\n    }\n    return [null, null];\n}\n\nif (event === \"context_update\") {\n    updateAwayArming(armedEntities, trackedPeople);\n    clearCurrentHomeArming(armedEntities, trackedPeople);\n    flow.set(ARMED_KEY, armedEntities);\n    return [null, null];\n}\n\nif (event !== \"location_update\") {\n    return [null, null];\n}\n\nupdateAwayArming(armedEntities, trackedPeople);\n\nconst source = msg.payload.source;\nconst sourcePosition = trackedPeople[source];\nif (sourcePosition && isHome(sourcePosition)) {\n    if (armedEntities[source]) {\n        msg.payload.arriving.push(source);\n    }\n    armedEntities[source] = false;\n}\n\nflow.set(ARMED_KEY, armedEntities);\n\nmsg.payload.should_turn_on =\n    !active &&\n    sunBelow &&\n    engineOn &&\n    msg.payload.arriving.length > 0;\n\nif (msg.payload.should_turn_on) {\n    flow.set(ACTIVE_KEY, true);\n    msg.payload.reason = \"arriving_after_dark\";\n    return [msg, null];\n}\n\nreturn [null, null];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 260,
        "wires": [
            [
                "sec_reflector_turn_on",
                "sec_auto_off_delay"
            ],
            [
                "sec_reflector_turn_off"
            ]
        ]
    },
    {
        "id": "sec_reflector_turn_on",
        "type": "api-call-service",
        "z": "2fd40fd570e6f37a",
        "name": "Ligar refletor_portao_carros",
        "server": "4126427d5e161a03",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.refletor_portao_carros"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "turn_on",
        "x": 840,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "sec_auto_off_delay",
        "type": "delay",
        "z": "2fd40fd570e6f37a",
        "name": "Desligar apos 10 min",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 840,
        "y": 280,
        "wires": [
            [
                "sec_auto_off_event"
            ]
        ]
    },
    {
        "id": "sec_auto_off_event",
        "type": "change",
        "z": "2fd40fd570e6f37a",
        "name": "Timeout seguranca",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"event\":\"turn_off\",\"reason\":\"timeout_10min\",\"creta\":{\"state\":\"home\",\"attributes\":{}}}",
                "tot": "json"
            }
        ],
        "x": 1090,
        "y": 340,
        "wires": [
            [
                "sec_arrival_decision"
            ]
        ]
    },
    {
        "id": "sec_reflector_turn_off",
        "type": "api-call-service",
        "z": "2fd40fd570e6f37a",
        "name": "Desligar refletor_portao_carros",
        "server": "4126427d5e161a03",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.refletor_portao_carros"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "turn_off",
        "x": 830,
        "y": 360,
        "wires": [
            []
        ]
    }
]