nodered/flows.json
[
    {
        "id": "29d64664bf8cbde8",
        "type": "tab",
        "label": "garagem",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ce258dec9814b96b",
        "type": "tab",
        "label": "iluminacao_externa",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2fd40fd570e6f37a",
        "type": "tab",
        "label": "iluminacao_seguranca",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4126427d5e161a03",
        "type": "server",
        "name": "Home Assistant",
        "version": 6,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": [
            "y",
            "yes",
            "true",
            "on",
            "home",
            "open"
        ],
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": 30,
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": ": ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "default",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": false
    },
    {
        "id": "721c47f31046b8bc",
        "type": "mqtt-broker",
        "name": "Zigbee2MQTT",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "45296e246a57590d",
        "type": "mqtt in",
        "z": "29d64664bf8cbde8",
        "name": "botao_portao_garagem JSON",
        "topic": "zigbee2mqtt/botao_portao_garagem",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "721c47f31046b8bc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 120,
        "wires": [
            [
                "gar_portao_normalizar_click"
            ]
        ]
    },
    {
        "id": "10d528954a2d5cae",
        "type": "api-call-service",
        "z": "29d64664bf8cbde8",
        "name": "acionar_portao_garagem",
        "server": "4126427d5e161a03",
        "version": 7,
        "debugenabled": false,
        "action": "script.portao_garagem_acionar",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "script.portao_garagem_acionar"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "script",
        "service": "portao_garagem_acionar",
        "x": 950,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "gar_portao_error_catch",
        "type": "catch",
        "z": "29d64664bf8cbde8",
        "name": "erro ao acionar portao",
        "scope": [
            "10d528954a2d5cae"
        ],
        "uncaught": false,
        "x": 400,
        "y": 240,
        "wires": [
            [
                "gar_portao_retry_decision"
            ]
        ]
    },
    {
        "id": "gar_portao_retry_decision",
        "type": "function",
        "z": "29d64664bf8cbde8",
        "name": "tentar novamente ate 2x",
        "func": "const maxRetries = 2;\nmsg.portao_retry_count = Number(msg.portao_retry_count || 0) + 1;\nconst errorMessage = msg.error?.message || msg.error?.source?.name || 'erro desconhecido';\n\nif (msg.portao_retry_count <= maxRetries) {\n    node.warn(`Erro ao acionar portao; tentativa extra ${msg.portao_retry_count}/${maxRetries}: ${errorMessage}`);\n    return [msg, null];\n}\n\nmsg.error_message = `Falha ao acionar o portao apos ${maxRetries + 1} tentativas. Ultimo erro: ${errorMessage}`;\nreturn [null, msg];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 240,
        "wires": [
            [
                "gar_portao_retry_delay"
            ],
            [
                "gar_portao_error_notify"
            ]
        ]
    },
    {
        "id": "gar_portao_retry_delay",
        "type": "delay",
        "z": "29d64664bf8cbde8",
        "name": "aguardar antes de tentar novamente",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 970,
        "y": 220,
        "wires": [
            [
                "10d528954a2d5cae"
            ]
        ]
    },
    {
        "id": "gar_portao_error_notify",
        "type": "api-call-service",
        "z": "29d64664bf8cbde8",
        "name": "notificar erro portao",
        "server": "4126427d5e161a03",
        "version": 7,
        "debugenabled": false,
        "action": "persistent_notification.create",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"title\":\"Erro ao acionar portao da garagem\",\"message\": error_message ? error_message : \"Falha desconhecida no fluxo garagem\"}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "persistent_notification",
        "service": "create",
        "x": 910,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "gar_portao_action_topic_in",
        "type": "mqtt in",
        "z": "29d64664bf8cbde8",
        "name": "botao_portao_garagem action",
        "topic": "zigbee2mqtt/botao_portao_garagem/action",
        "qos": "2",
        "datatype": "utf8",
        "broker": "721c47f31046b8bc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 180,
        "wires": [
            [
                "gar_portao_normalizar_click"
            ]
        ]
    },
    {
        "id": "gar_portao_normalizar_click",
        "type": "function",
        "z": "29d64664bf8cbde8",
        "name": "normalizar clique e evitar duplicado",
        "func": "const now = Date.now();\nconst dedupeMs = 900;\nlet action;\n\nif (typeof msg.payload === 'string') {\n    action = msg.payload;\n} else if (msg.payload && typeof msg.payload === 'object') {\n    action = msg.payload.action;\n}\n\nif (action !== 'single') {\n    return null;\n}\n\nconst lastAccepted = Number(flow.get('portao_garagem_last_click_ms') || 0);\nif (now - lastAccepted < dedupeMs) {\n    return null;\n}\n\nflow.set('portao_garagem_last_click_ms', now);\nmsg.payload = {\n    action,\n    source_topic: msg.topic,\n    received_at: new Date(now).toISOString(),\n};\nmsg.portao_retry_count = 0;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 120,
        "wires": [
            [
                "10d528954a2d5cae"
            ]
        ]
    },
    {
        "id": "70e147e6b7df9826",
        "type": "DuloNodeHub",
        "z": "ce258dec9814b96b",
        "name": "",
        "installation": "standalone",
        "x": 180,
        "y": 100,
        "wires": [
            [
                "2dd5071569184cb4"
            ]
        ]
    },
    {
        "id": "2dd5071569184cb4",
        "type": "DuloNodeDevice",
        "z": "ce258dec9814b96b",
        "name": "Iluminação Externa",
        "deviceType": "light",
        "x": 370,
        "y": 100,
        "wires": [
            [
                "1002cd64ca2b5824"
            ]
        ]
    },
    {
        "id": "1002cd64ca2b5824",
        "type": "switch",
        "z": "ce258dec9814b96b",
        "name": "Comando manual ON/OFF",
        "property": "payload.components.PowerController.powerState",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 600,
        "y": 100,
        "wires": [
            [
                "d940e2132bca7ecc"
            ],
            [
                "c7fe1a52ffe5091d"
            ]
        ]
    },
    {
        "id": "24743bc9f254d1c1",
        "type": "server-state-changed",
        "z": "ce258dec9814b96b",
        "name": "Pôr do sol",
        "server": "4126427d5e161a03",
        "version": 6,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "sun.sun"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "below_horizon",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [],
        "x": 660,
        "y": 220,
        "wires": [
            [
                "943c87e6b17f0d68"
            ],
            []
        ]
    },
    {
        "id": "d940e2132bca7ecc",
        "type": "change",
        "z": "ce258dec9814b96b",
        "name": "Definir ON manual",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"state\":\"ON\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "source",
                "pt": "msg",
                "to": "manual",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "notify_text",
                "pt": "msg",
                "to": "A iluminação externa foi ligada",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "expected_state",
                "pt": "msg",
                "to": "on",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "notify_success",
                "pt": "msg",
                "to": "A iluminação externa foi ligada",
                "tot": "str"
            }
        ],
        "x": 840,
        "y": 80,
        "wires": [
            [
                "88e6fc3e56fa347c",
                "ext_wait_confirm"
            ]
        ]
    },
    {
        "id": "c7fe1a52ffe5091d",
        "type": "change",
        "z": "ce258dec9814b96b",
        "name": "Definir OFF manual",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"state\":\"OFF\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "source",
                "pt": "msg",
                "to": "manual",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "notify_text",
                "pt": "msg",
                "to": "A iluminação externa foi desligada",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "expected_state",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "notify_success",
                "pt": "msg",
                "to": "A iluminação externa foi desligada",
                "tot": "str"
            }
        ],
        "x": 840,
        "y": 120,
        "wires": [
            [
                "88e6fc3e56fa347c",
                "ext_wait_confirm"
            ]
        ]
    },
    {
        "id": "943c87e6b17f0d68",
        "type": "change",
        "z": "ce258dec9814b96b",
        "name": "Definir ON pôr do sol",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"state\":\"ON\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "source",
                "pt": "msg",
                "to": "sunset",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "notify_text",
                "pt": "msg",
                "to": "Pôr do sol. A iluminação externa foi ligada",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "expected_state",
                "pt": "msg",
                "to": "on",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "notify_success",
                "pt": "msg",
                "to": "Pôr do sol. A iluminação externa foi ligada",
                "tot": "str"
            }
        ],
        "x": 860,
        "y": 220,
        "wires": [
            [
                "88e6fc3e56fa347c",
                "ext_wait_confirm"
            ]
        ]
    },
    {
        "id": "88e6fc3e56fa347c",
        "type": "function",
        "z": "ce258dec9814b96b",
        "name": "Distribuir para tópicos Zigbee2MQTT",
        "func": "const topics = [\n    'zigbee2mqtt/lampada_varanda/set',\n    'zigbee2mqtt/lampadas_garagem/set',\n    'zigbee2mqtt/refletores_jardim/set'\n];\n\nreturn topics.map(topic => ({\n    ...msg,\n    topic\n}));",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 100,
        "wires": [
            [
                "205cde805aa5e22c"
            ],
            [
                "c6d4a518b02043a0"
            ],
            [
                "864f90600b6a19ec"
            ]
        ]
    },
    {
        "id": "9d81b75a18d482f1",
        "type": "api-call-service",
        "z": "ce258dec9814b96b",
        "name": "Avisar Alexa",
        "server": "4126427d5e161a03",
        "version": 7,
        "debugenabled": false,
        "action": "notify.alexa_media_echo_dot_de_gabriel",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"message\": msg.notify_text}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "all",
        "blockInputOverrides": true,
        "domain": "notify",
        "service": "alexa_media_echo_dot_de_gabriel",
        "x": 2010,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "205cde805aa5e22c",
        "type": "mqtt out",
        "z": "ce258dec9814b96b",
        "name": "lampada_varanda",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "721c47f31046b8bc",
        "x": 1460,
        "y": 40,
        "wires": []
    },
    {
        "id": "c6d4a518b02043a0",
        "type": "mqtt out",
        "z": "ce258dec9814b96b",
        "name": "lampadas_garagem",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "721c47f31046b8bc",
        "x": 1470,
        "y": 100,
        "wires": []
    },
    {
        "id": "864f90600b6a19ec",
        "type": "mqtt out",
        "z": "ce258dec9814b96b",
        "name": "refletores_jardim",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "721c47f31046b8bc",
        "x": 1460,
        "y": 160,
        "wires": []
    },
    {
        "id": "ext_wait_confirm",
        "type": "delay",
        "z": "ce258dec9814b96b",
        "name": "Aguardar confirmação das luzes",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1230,
        "y": 260,
        "wires": [
            [
                "ext_check_states"
            ]
        ]
    },
    {
        "id": "ext_check_states",
        "type": "api-current-state",
        "z": "ce258dec9814b96b",
        "name": "Confirmar estados no Home Assistant",
        "server": "4126427d5e161a03",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "switch.lampada_varanda",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "{\"expected_state\": expected_state, \"notify_success\": notify_success, \"lampada_varanda\": $entities(\"switch.lampada_varanda\").state, \"lampadas_garagem\": $entities(\"switch.lampadas_garagem\").state, \"refletores_jardim\": $entities(\"switch.refletores_jardim\").state}",
                "valueType": "jsonata"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1530,
        "y": 260,
        "wires": [
            [
                "ext_build_alexa_message"
            ]
        ]
    },
    {
        "id": "ext_build_alexa_message",
        "type": "function",
        "z": "ce258dec9814b96b",
        "name": "Montar aviso confirmado",
        "func": "const expected = msg.expected_state || msg.payload?.expected_state;\nconst labels = {\n    lampada_varanda: 'varanda',\n    lampadas_garagem: 'garagem',\n    refletores_jardim: 'jardim'\n};\nconst states = {\n    lampada_varanda: msg.payload?.lampada_varanda,\n    lampadas_garagem: msg.payload?.lampadas_garagem,\n    refletores_jardim: msg.payload?.refletores_jardim\n};\nconst failed = Object.entries(states)\n    .filter(([, state]) => state !== expected)\n    .map(([entity, state]) => `${labels[entity]} ${state || 'desconhecido'}`);\n\nif (failed.length === 0) {\n    msg.notify_text = msg.notify_success || msg.notify_text;\n    return msg;\n}\n\nconst expectedText = expected === 'on' ? 'ligada' : 'desligada';\nmsg.notify_text = `Erro ao acionar a iluminação externa. Esperado: ${expectedText}. Estado atual: ${failed.join(', ')}.`;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1810,
        "y": 260,
        "wires": [
            [
                "9d81b75a18d482f1"
            ]
        ]
    },
    {
        "id": "249963a6cd6c247a",
        "type": "inject",
        "z": "2fd40fd570e6f37a",
        "name": "Teste de mensagem",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1150,
        "y": 460,
        "wires": [
            [
                "sec_notify_valeria_approaching"
            ]
        ]
    },
    {
        "id": "29a4e3c0935e2805",
        "type": "api-call-service",
        "z": "2fd40fd570e6f37a",
        "name": "Avisar: Refletor ligado",
        "server": "4126427d5e161a03",
        "version": 7,
        "debugenabled": false,
        "action": "notify.send_message",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "notify.iphone_de_gabriel_furlan",
            "notify.iphone_de_valeria"
        ],
        "labelId": [],
        "data": "{\"title\":\"Casa inteligente\",\"message\":\"O refletor da garagem foi ligado.\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "notify",
        "service": "send_message",
        "x": 2700,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "sec_comment_arrival_light",
        "type": "comment",
        "z": "2fd40fd570e6f37a",
        "name": "Liga refletor_portao_carros somente quando a chegada acontece no escuro",
        "info": "Localizacao de Gabriel e Valeria aciona a luz quando alguem armado volta para ate 50 m de casa durante a noite e com o motor do Creta ligado. Como fallback, se o Creta estava fora e volta para ate 50 m de casa durante a noite, tambem liga mesmo que o sensor do motor nao tenha atualizado. A rota de pessoa tambem aceita fallback quando o Creta estava armado como fora e ja aparece a ate 700 m de casa, cobrindo atraso da integracao do carro. O por do sol e a trava do Creta apenas atualizam contexto; eles nao reaproveitam chegada antiga nem ligam a luz sozinhos. Gabriel, Valeria e Creta armam ao ficar a mais de 100 m de casa. Creta desligou/travou so desliga o refletor se o Creta estiver em casa.",
        "x": 590,
        "y": 60,
        "wires": []
    },
    {
        "id": "sec_gabriel_location_changed",
        "type": "server-state-changed",
        "z": "2fd40fd570e6f37a",
        "name": "Localizacao Gabriel",
        "server": "4126427d5e161a03",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "device_tracker.iphone_de_gabriel_furlan"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "(\n  {\n    \"event\": \"location_update\",\n    \"source\": \"gabriel\",\n    \"sun\": $entities(\"sun.sun\"),\n    \"gabriel\": $entities(\"device_tracker.iphone_de_gabriel_furlan\"),\n    \"valeria\": $entities(\"device_tracker.iphone_de_valeria\"),\n    \"creta\": $entities(\"device_tracker.creta_location\"),\n    \"creta_engine\": $entities(\"binary_sensor.creta_engine\"),\n    \"creta_lock\": $entities(\"lock.creta_door_lock\")\n  }\n)",
                "valueType": "jsonata"
            }
        ],
        "x": 210,
        "y": 120,
        "wires": [
            [
                "sec_prepare_arrival_context"
            ]
        ]
    },
    {
        "id": "sec_valeria_location_changed",
        "type": "server-state-changed",
        "z": "2fd40fd570e6f37a",
        "name": "Localizacao Valeria",
        "server": "4126427d5e161a03",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "device_tracker.iphone_de_valeria"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "(\n  {\n    \"event\": \"location_update\",\n    \"source\": \"valeria\",\n    \"sun\": $entities(\"sun.sun\"),\n    \"gabriel\": $entities(\"device_tracker.iphone_de_gabriel_furlan\"),\n    \"valeria\": $entities(\"device_tracker.iphone_de_valeria\"),\n    \"creta\": $entities(\"device_tracker.creta_location\"),\n    \"creta_engine\": $entities(\"binary_sensor.creta_engine\"),\n    \"creta_lock\": $entities(\"lock.creta_door_lock\")\n  }\n)",
                "valueType": "jsonata"
            }
        ],
        "x": 210,
        "y": 180,
        "wires": [
            [
                "sec_prepare_arrival_context"
            ]
        ]
    },
    {
        "id": "sec_creta_location_changed",
        "type": "server-state-changed",
        "z": "2fd40fd570e6f37a",
        "name": "Localizacao Creta",
        "server": "4126427d5e161a03",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "device_tracker.creta_location"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "(\n  {\n    \"event\": \"location_update\",\n    \"source\": \"creta\",\n    \"sun\": $entities(\"sun.sun\"),\n    \"gabriel\": $entities(\"device_tracker.iphone_de_gabriel_furlan\"),\n    \"valeria\": $entities(\"device_tracker.iphone_de_valeria\"),\n    \"creta\": $entities(\"device_tracker.creta_location\"),\n    \"creta_engine\": $entities(\"binary_sensor.creta_engine\"),\n    \"creta_lock\": $entities(\"lock.creta_door_lock\")\n  }\n)",
                "valueType": "jsonata"
            }
        ],
        "x": 210,
        "y": 240,
        "wires": [
            [
                "sec_prepare_arrival_context"
            ]
        ]
    },
    {
        "id": "sec_sun_changed",
        "type": "server-state-changed",
        "z": "2fd40fd570e6f37a",
        "name": "Por do sol / amanhecer",
        "server": "4126427d5e161a03",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "sun.sun"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "(\n  {\n    \"event\": \"context_update\",\n    \"source\": \"sun\",\n    \"sun\": $entities(\"sun.sun\"),\n    \"gabriel\": $entities(\"device_tracker.iphone_de_gabriel_furlan\"),\n    \"valeria\": $entities(\"device_tracker.iphone_de_valeria\"),\n    \"creta\": $entities(\"device_tracker.creta_location\"),\n    \"creta_engine\": $entities(\"binary_sensor.creta_engine\"),\n    \"creta_lock\": $entities(\"lock.creta_door_lock\")\n  }\n)",
                "valueType": "jsonata"
            }
        ],
        "x": 200,
        "y": 300,
        "wires": [
            [
                "sec_prepare_arrival_context"
            ]
        ]
    },
    {
        "id": "sec_creta_lock_context_changed",
        "type": "server-state-changed",
        "z": "2fd40fd570e6f37a",
        "name": "Trava porta Creta atualizou",
        "server": "4126427d5e161a03",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "lock.creta_door_lock"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "(\n  {\n    \"event\": \"context_update\",\n    \"source\": \"creta_lock\",\n    \"sun\": $entities(\"sun.sun\"),\n    \"gabriel\": $entities(\"device_tracker.iphone_de_gabriel_furlan\"),\n    \"valeria\": $entities(\"device_tracker.iphone_de_valeria\"),\n    \"creta\": $entities(\"device_tracker.creta_location\"),\n    \"creta_engine\": $entities(\"binary_sensor.creta_engine\"),\n    \"creta_lock\": $entities(\"lock.creta_door_lock\")\n  }\n)",
                "valueType": "jsonata"
            }
        ],
        "x": 190,
        "y": 360,
        "wires": [
            [
                "sec_prepare_arrival_context"
            ]
        ]
    },
    {
        "id": "sec_engine_off_changed",
        "type": "server-state-changed",
        "z": "2fd40fd570e6f37a",
        "name": "Creta desligou (se em casa)",
        "server": "4126427d5e161a03",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "binary_sensor.creta_engine"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "off",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "5",
        "forType": "num",
        "forUnits": "seconds",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "(\n  {\n    \"event\": \"turn_off\",\n    \"reason\": \"creta_engine_off\",\n    \"sun\": $entities(\"sun.sun\"),\n    \"creta\": $entities(\"device_tracker.creta_location\"),\n    \"creta_engine\": $entities(\"binary_sensor.creta_engine\"),\n    \"creta_lock\": $entities(\"lock.creta_door_lock\")\n  }\n)",
                "valueType": "jsonata"
            }
        ],
        "x": 180,
        "y": 420,
        "wires": [
            [
                "sec_prepare_arrival_context"
            ]
        ]
    },
    {
        "id": "sec_creta_locked_changed",
        "type": "server-state-changed",
        "z": "2fd40fd570e6f37a",
        "name": "Creta travou (se em casa)",
        "server": "4126427d5e161a03",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "lock.creta_door_lock"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "locked",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "5",
        "forType": "num",
        "forUnits": "seconds",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "(\n  {\n    \"event\": \"turn_off\",\n    \"reason\": \"creta_locked\",\n    \"sun\": $entities(\"sun.sun\"),\n    \"creta\": $entities(\"device_tracker.creta_location\"),\n    \"creta_engine\": $entities(\"binary_sensor.creta_engine\"),\n    \"creta_lock\": $entities(\"lock.creta_door_lock\")\n  }\n)",
                "valueType": "jsonata"
            }
        ],
        "x": 190,
        "y": 480,
        "wires": [
            [
                "sec_prepare_arrival_context"
            ]
        ]
    },
    {
        "id": "sec_refresh_comment",
        "type": "comment",
        "z": "2fd40fd570e6f37a",
        "name": "Atualiza localizacoes e estado do Creta a cada 5 min",
        "info": "Reavalia o contexto a cada 5 minutos. So forca update_entity nas entidades Kia/Hyundai e envia request_location_update para os iPhones quando Gabriel, Valeria ou Creta estiverem fora de casa.",
        "x": 420,
        "y": 720,
        "wires": []
    },
    {
        "id": "sec_refresh_every_10min",
        "type": "inject",
        "z": "2fd40fd570e6f37a",
        "name": "A cada 5 min",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": "30",
        "topic": "refresh_security_entities",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 780,
        "wires": [
            [
                "sec_refresh_context_snapshot"
            ]
        ]
    },
    {
        "id": "sec_refresh_context_snapshot",
        "type": "api-current-state",
        "z": "2fd40fd570e6f37a",
        "name": "Reavaliar armado atual",
        "server": "4126427d5e161a03",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sun.sun",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "(\n  {\n    \"event\": \"context_update\",\n    \"source\": \"refresh\",\n    \"sun\": $entities(\"sun.sun\"),\n    \"gabriel\": $entities(\"device_tracker.iphone_de_gabriel_furlan\"),\n    \"valeria\": $entities(\"device_tracker.iphone_de_valeria\"),\n    \"creta\": $entities(\"device_tracker.creta_location\"),\n    \"creta_engine\": $entities(\"binary_sensor.creta_engine\"),\n    \"creta_lock\": $entities(\"lock.creta_door_lock\")\n  }\n)",
                "valueType": "jsonata"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 370,
        "y": 780,
        "wires": [
            [
                "sec_refresh_anyone_away"
            ]
        ]
    },
    {
        "id": "sec_refresh_anyone_away",
        "type": "function",
        "z": "2fd40fd570e6f37a",
        "name": "Gabriel/Valeria/Creta fora?",
        "func": "const HOME_LAT = -20.310367851039004;\nconst HOME_LON = -40.317321761139894;\nconst ARM_DISTANCE_M = 100;\nconst MAX_GPS_ACCURACY_M = 100;\n\nfunction distanceMeters(lat1, lon1, lat2, lon2) {\n    const toRad = (value) => value * Math.PI / 180;\n    const dLat = toRad(lat2 - lat1);\n    const dLon = toRad(lon2 - lon1);\n    const a = Math.sin(dLat / 2) ** 2 +\n        Math.cos(toRad(lat1)) * Math.cos(toRad(lat2)) *\n        Math.sin(dLon / 2) ** 2;\n    return 6371000 * 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));\n}\n\nfunction distanceFromHome(entity) {\n    const attrs = entity?.attributes ?? {};\n    const lat = Number(attrs.latitude);\n    const lon = Number(attrs.longitude);\n    const gpsAccuracy = Number(attrs.gps_accuracy);\n    const hasCoordinates = Number.isFinite(lat) && Number.isFinite(lon);\n    const hasGpsAccuracy = Number.isFinite(gpsAccuracy);\n    const reliableCoordinates = hasCoordinates && (!hasGpsAccuracy || gpsAccuracy <= MAX_GPS_ACCURACY_M);\n    return reliableCoordinates ? Math.round(distanceMeters(HOME_LAT, HOME_LON, lat, lon)) : null;\n}\n\nfunction isAway(entity) {\n    const distance = distanceFromHome(entity);\n    if (distance !== null) {\n        return distance > ARM_DISTANCE_M;\n    }\n    return entity?.state === \"not_home\";\n}\n\nconst awayEntities = [];\nfor (const [name, entity] of Object.entries({\n    gabriel: msg.payload?.gabriel,\n    valeria: msg.payload?.valeria,\n    creta: msg.payload?.creta,\n})) {\n    if (isAway(entity)) {\n        awayEntities.push(name);\n    }\n}\n\nmsg.payload.refresh_allowed = awayEntities.length > 0;\nmsg.payload.refresh_away_entities = awayEntities;\n\nreturn [msg, awayEntities.length > 0 ? msg : null];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 780,
        "wires": [
            [
                "sec_prepare_arrival_context"
            ],
            [
                "sec_force_refresh_creta",
                "sec_refresh_creta_entities",
                "sec_request_gabriel_location",
                "sec_request_valeria_location"
            ]
        ]
    },
    {
        "id": "sec_force_refresh_creta",
        "type": "api-call-service",
        "z": "2fd40fd570e6f37a",
        "name": "Forcar refresh Creta",
        "server": "4126427d5e161a03",
        "version": 7,
        "debugenabled": false,
        "action": "button.press",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "button.creta_force_refresh"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "button",
        "service": "press",
        "x": 960,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "sec_refresh_creta_entities",
        "type": "api-call-service",
        "z": "2fd40fd570e6f37a",
        "name": "Atualizar Creta",
        "server": "4126427d5e161a03",
        "version": 7,
        "debugenabled": false,
        "action": "homeassistant.update_entity",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"entity_id\":[\"device_tracker.creta_location\",\"binary_sensor.creta_engine\",\"lock.creta_door_lock\",\"device_tracker.iphone_de_gabriel_furlan\",\"device_tracker.iphone_de_valeria\"]}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "homeassistant",
        "service": "update_entity",
        "x": 960,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "sec_request_gabriel_location",
        "type": "api-call-service",
        "z": "2fd40fd570e6f37a",
        "name": "Atualizar iPhone Gabriel",
        "server": "4126427d5e161a03",
        "version": 7,
        "debugenabled": false,
        "action": "notify.send_message",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "notify.iphone_de_gabriel_furlan"
        ],
        "labelId": [],
        "data": "{\"message\":\"request_location_update\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "notify",
        "service": "send_message",
        "x": 980,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "sec_request_valeria_location",
        "type": "api-call-service",
        "z": "2fd40fd570e6f37a",
        "name": "Atualizar iPhone Valeria",
        "server": "4126427d5e161a03",
        "version": 7,
        "debugenabled": false,
        "action": "notify.send_message",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "notify.iphone_de_valeria"
        ],
        "labelId": [],
        "data": "{\"message\":\"request_location_update\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "notify",
        "service": "send_message",
        "x": 980,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "sec_prepare_arrival_context",
        "type": "function",
        "z": "2fd40fd570e6f37a",
        "name": "Preparar estados e distancias",
        "func": "const HOME_LAT = -20.310367851039004;\nconst HOME_LON = -40.317321761139894;\nconst event = msg.payload?.event;\n\nconst ACTIVE_KEY = \"refletor_portao_carros_active_by_arrival\";\nconst ARMED_KEY = \"refletor_portao_carros_arrival_armed_entities\";\nconst ARRIVAL_DISTANCE_M = 50;\nconst MAX_GPS_ACCURACY_M = 100;\n\nfunction distanceMeters(lat1, lon1, lat2, lon2) {\n    const toRad = (value) => value * Math.PI / 180;\n    const dLat = toRad(lat2 - lat1);\n    const dLon = toRad(lon2 - lon1);\n    const a = Math.sin(dLat / 2) ** 2 +\n        Math.cos(toRad(lat1)) * Math.cos(toRad(lat2)) *\n        Math.sin(dLon / 2) ** 2;\n    return 6371000 * 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));\n}\n\nfunction position(entity) {\n    const attrs = entity?.attributes ?? {};\n    const lat = Number(attrs.latitude);\n    const lon = Number(attrs.longitude);\n    const gpsAccuracy = Number(attrs.gps_accuracy);\n    const hasCoordinates = Number.isFinite(lat) && Number.isFinite(lon);\n    const hasGpsAccuracy = Number.isFinite(gpsAccuracy);\n    const reliableCoordinates = hasCoordinates && (!hasGpsAccuracy || gpsAccuracy <= MAX_GPS_ACCURACY_M);\n\n    return {\n        entity_id: entity?.entity_id,\n        state: entity?.state,\n        latitude: hasCoordinates ? lat : null,\n        longitude: hasCoordinates ? lon : null,\n        gps_accuracy: hasGpsAccuracy ? gpsAccuracy : null,\n        location_reliable: reliableCoordinates,\n        distance_m: reliableCoordinates ? Math.round(distanceMeters(HOME_LAT, HOME_LON, lat, lon)) : null,\n    };\n}\n\nfunction isHome(item) {\n    if (item.distance_m !== null) {\n        return item.distance_m <= ARRIVAL_DISTANCE_M;\n    }\n    if (item.gps_accuracy !== null && item.gps_accuracy > MAX_GPS_ACCURACY_M) {\n        return false;\n    }\n    return item.state === \"home\";\n}\n\nconst gabriel = position(msg.payload?.gabriel);\nconst valeria = position(msg.payload?.valeria);\nconst creta = position(msg.payload?.creta);\nconst sunBelow = msg.payload?.sun?.state === \"below_horizon\";\nconst engineOn = msg.payload?.creta_engine?.state === \"on\";\nconst lockState = msg.payload?.creta_lock?.state;\n\nmsg.payload = {\n    event,\n    source: msg.payload?.source,\n    reason: msg.payload?.reason,\n    sun_below_horizon: sunBelow,\n    gabriel,\n    valeria,\n    creta,\n    creta_home: isHome(creta),\n    creta_engine_on: engineOn,\n    creta_lock: lockState,\n    active: flow.get(ACTIVE_KEY) === true,\n    armed: flow.get(ARMED_KEY) ?? {},\n    arriving: [],\n};\n\nif (event === \"turn_off\") {\n    return [msg, null, null];\n}\nif (event === \"context_update\") {\n    return [null, msg, null];\n}\nif (event === \"location_update\") {\n    return [null, null, msg];\n}\nreturn [null, null, null];",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 300,
        "wires": [
            [
                "sec_turn_off_creta_home"
            ],
            [
                "sec_update_arming_context"
            ],
            [
                "sec_update_arming_location"
            ]
        ]
    },
    {
        "id": "sec_turn_off_creta_home",
        "type": "switch",
        "z": "2fd40fd570e6f37a",
        "name": "Creta esta em casa?",
        "property": "payload.creta_home",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 820,
        "y": 560,
        "wires": [
            [
                "sec_turn_off_if_active"
            ]
        ]
    },
    {
        "id": "sec_turn_off_if_active",
        "type": "function",
        "z": "2fd40fd570e6f37a",
        "name": "Desligar se refletor ativo",
        "func": "const ACTIVE_KEY = \"refletor_portao_carros_active_by_arrival\";\nconst ARMED_KEY = \"refletor_portao_carros_arrival_armed_entities\";\n\nconst active = msg.payload?.active ?? flow.get(ACTIVE_KEY) === true;\n\nif (!active) {\n    return null;\n}\n\nflow.set(ACTIVE_KEY, false);\nflow.set(ARMED_KEY, {});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 560,
        "wires": [
            [
                "sec_reflector_turn_off"
            ]
        ]
    },
    {
        "id": "sec_update_arming_context",
        "type": "function",
        "z": "2fd40fd570e6f37a",
        "name": "Atualizar armado por contexto",
        "func": "const ARMED_KEY = \"refletor_portao_carros_arrival_armed_entities\";\nconst ARM_DISTANCE_M = 100;\nconst ARRIVAL_DISTANCE_M = 50;\nconst MAX_GPS_ACCURACY_M = 100;\n\nfunction isAway(item) {\n    if (item && item.distance_m !== null) {\n        return item.distance_m > ARM_DISTANCE_M;\n    }\n    return item?.state === \"not_home\";\n}\n\nfunction isHome(item) {\n    if (item && item.distance_m !== null) {\n        return item.distance_m <= ARRIVAL_DISTANCE_M;\n    }\n    if (item?.gps_accuracy !== null && item?.gps_accuracy > MAX_GPS_ACCURACY_M) {\n        return false;\n    }\n    return item?.state === \"home\";\n}\n\nfunction updateAwayArming(armed, people) {\n    for (const [name, item] of Object.entries(people)) {\n        if (isAway(item)) {\n            armed[name] = true;\n        }\n    }\n}\n\nfunction clearCurrentHomeArming(armed, people) {\n    for (const [name, item] of Object.entries(people)) {\n        if (isHome(item)) {\n            armed[name] = false;\n        }\n    }\n}\n\nconst armedEntities = msg.payload.armed ?? {};\nconst trackedPeople = {\n    gabriel: msg.payload.gabriel,\n    valeria: msg.payload.valeria,\n    creta: msg.payload.creta,\n};\n\nupdateAwayArming(armedEntities, trackedPeople);\nclearCurrentHomeArming(armedEntities, trackedPeople);\nflow.set(ARMED_KEY, armedEntities);\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "sec_update_arming_location",
        "type": "function",
        "z": "2fd40fd570e6f37a",
        "name": "Atualizar armado por localizacao",
        "func": "const ARMED_KEY = \"refletor_portao_carros_arrival_armed_entities\";\nconst VALERIA_APPROACH_NOTIFY_KEY = \"valeria_approaching_gabriel_notified\";\nconst ARM_DISTANCE_M = 100;\nconst VALERIA_APPROACH_DISTANCE_M = 700;\nconst VALERIA_APPROACH_RESET_DISTANCE_M = 1000;\n\nfunction isAway(item) {\n    if (item && item.distance_m !== null) {\n        return item.distance_m > ARM_DISTANCE_M;\n    }\n    return item?.state === \"not_home\";\n}\n\nconst armedEntities = msg.payload.armed ?? {};\nfor (const [name, item] of Object.entries({\n    gabriel: msg.payload.gabriel,\n    valeria: msg.payload.valeria,\n    creta: msg.payload.creta,\n})) {\n    if (isAway(item)) {\n        armedEntities[name] = true;\n    }\n}\n\nmsg.payload.armed = armedEntities;\nflow.set(ARMED_KEY, armedEntities);\n\nconst valeria = msg.payload.valeria;\nlet notify = null;\nif (valeria?.distance_m !== null && valeria.distance_m > VALERIA_APPROACH_RESET_DISTANCE_M) {\n    flow.set(VALERIA_APPROACH_NOTIFY_KEY, false);\n}\n\nif (\n    msg.payload.source === \"valeria\" &&\n    valeria?.distance_m !== null &&\n    valeria.distance_m <= VALERIA_APPROACH_DISTANCE_M &&\n    valeria.distance_m > 50 &&\n    flow.get(VALERIA_APPROACH_NOTIFY_KEY) !== true\n) {\n    flow.set(VALERIA_APPROACH_NOTIFY_KEY, true);\n    notify = {\n        payload: {\n            valeria_distance_m: valeria.distance_m,\n        },\n    };\n}\n\nreturn [msg, notify];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 380,
        "wires": [
            [
                "sec_detect_arriving_source"
            ],
            []
        ]
    },
    {
        "id": "sec_notify_valeria_approaching",
        "type": "api-call-service",
        "z": "2fd40fd570e6f37a",
        "name": "Avisar Gabriel: Valeria aproximando",
        "server": "4126427d5e161a03",
        "version": 7,
        "debugenabled": false,
        "action": "notify.send_message",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "notify.iphone_de_gabriel_furlan"
        ],
        "labelId": [],
        "data": "{\"title\":\"Casa inteligente\",\"message\":\"Valeria esta se aproximando de casa.\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "notify",
        "service": "send_message",
        "x": 1460,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "sec_detect_arriving_source",
        "type": "function",
        "z": "2fd40fd570e6f37a",
        "name": "Gabriel/Valeria/Creta chegou <= 50m?",
        "func": "const ARMED_KEY = \"refletor_portao_carros_arrival_armed_entities\";\nconst ARRIVAL_DISTANCE_M = 50;\nconst MAX_GPS_ACCURACY_M = 100;\n\nfunction isHome(item) {\n    if (item && item.distance_m !== null) {\n        return item.distance_m <= ARRIVAL_DISTANCE_M;\n    }\n    if (item?.gps_accuracy !== null && item?.gps_accuracy > MAX_GPS_ACCURACY_M) {\n        return false;\n    }\n    return item?.state === \"home\";\n}\n\nconst trackedPeople = {\n    gabriel: msg.payload.gabriel,\n    valeria: msg.payload.valeria,\n    creta: msg.payload.creta,\n};\nconst source = msg.payload.source;\nconst sourcePosition = trackedPeople[source];\nconst armedEntities = msg.payload.armed ?? {};\n\nif (!sourcePosition || !isHome(sourcePosition)) {\n    flow.set(ARMED_KEY, armedEntities);\n    return null;\n}\n\nif (armedEntities[source]) {\n    msg.payload.arriving = [source];\n    msg.payload.arrival_source_type = source === \"creta\" ? \"creta\" : \"person\";\n}\narmedEntities[source] = false;\nmsg.payload.armed = armedEntities;\nflow.set(ARMED_KEY, armedEntities);\n\nreturn msg.payload.arriving.length > 0 ? msg : null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 380,
        "wires": [
            [
                "sec_check_dark",
                "sec_notify_valeria_approaching"
            ]
        ]
    },
    {
        "id": "sec_check_dark",
        "type": "switch",
        "z": "2fd40fd570e6f37a",
        "name": "Esta escuro?",
        "property": "payload.sun_below_horizon",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1400,
        "y": 380,
        "wires": [
            [
                "sec_route_arrival_source"
            ]
        ]
    },
    {
        "id": "sec_route_arrival_source",
        "type": "switch",
        "z": "2fd40fd570e6f37a",
        "name": "Chegada pessoa ou Creta?",
        "property": "payload.arrival_source_type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "person",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "creta",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1640,
        "y": 380,
        "wires": [
            [
                "sec_check_engine_on"
            ],
            [
                "sec_check_reflector_inactive"
            ]
        ]
    },
    {
        "id": "sec_check_engine_on",
        "type": "function",
        "z": "2fd40fd570e6f37a",
        "name": "Motor ligado ou Creta aproximando?",
        "func": "const CRETA_APPROACH_DISTANCE_M = 700;\n\nif (msg.payload?.creta_engine_on === true) {\n    msg.payload.engine_gate = \"engine_on\";\n    return msg;\n}\n\nconst creta = msg.payload?.creta;\nconst cretaWasAway = msg.payload?.armed?.creta === true;\nconst cretaDistance = creta?.distance_m;\nconst cretaNearby = cretaDistance !== null && cretaDistance <= CRETA_APPROACH_DISTANCE_M;\n\nif (cretaWasAway && cretaNearby) {\n    msg.payload.engine_gate = \"creta_nearby_fallback\";\n    msg.payload.reason = \"arriving_after_dark_creta_nearby\";\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1900,
        "y": 300,
        "wires": [
            [
                "sec_check_reflector_inactive"
            ]
        ]
    },
    {
        "id": "sec_check_reflector_inactive",
        "type": "switch",
        "z": "2fd40fd570e6f37a",
        "name": "Refletor ainda inativo?",
        "property": "payload.active",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2160,
        "y": 380,
        "wires": [
            [
                "sec_mark_reflector_active"
            ]
        ]
    },
    {
        "id": "sec_mark_reflector_active",
        "type": "function",
        "z": "2fd40fd570e6f37a",
        "name": "Marcar ativo por chegada",
        "func": "const ACTIVE_KEY = \"refletor_portao_carros_active_by_arrival\";\nflow.set(ACTIVE_KEY, true);\nmsg.payload.reason = \"arriving_after_dark\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2420,
        "y": 380,
        "wires": [
            [
                "sec_reflector_turn_on",
                "sec_auto_off_delay",
                "29a4e3c0935e2805"
            ]
        ]
    },
    {
        "id": "sec_reflector_turn_on",
        "type": "api-call-service",
        "z": "2fd40fd570e6f37a",
        "name": "Ligar refletor_portao_carros",
        "server": "4126427d5e161a03",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.refletor_portao_carros"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "turn_on",
        "x": 2740,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "sec_auto_off_delay",
        "type": "delay",
        "z": "2fd40fd570e6f37a",
        "name": "Desligar apos 10 min",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2700,
        "y": 420,
        "wires": [
            [
                "sec_auto_off_event"
            ]
        ]
    },
    {
        "id": "sec_auto_off_event",
        "type": "change",
        "z": "2fd40fd570e6f37a",
        "name": "Timeout seguranca",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"event\":\"turn_off\",\"reason\":\"timeout_10min\",\"creta\":{\"state\":\"home\",\"attributes\":{}}}",
                "tot": "json"
            }
        ],
        "x": 1330,
        "y": 640,
        "wires": [
            [
                "sec_turn_off_if_active"
            ]
        ]
    },
    {
        "id": "sec_reflector_turn_off",
        "type": "api-call-service",
        "z": "2fd40fd570e6f37a",
        "name": "Desligar refletor_portao_carros",
        "server": "4126427d5e161a03",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.refletor_portao_carros"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "turn_off",
        "x": 1400,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "965afc02b5d9e809",
        "type": "inject",
        "z": "2fd40fd570e6f37a",
        "name": "Teste",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 2450,
        "y": 300,
        "wires": [
            [
                "29a4e3c0935e2805",
                "sec_reflector_turn_on"
            ]
        ]
    }
]